.hide {
  display: none;
}

.book-img img {
  width: 100%;
  height: auto;
  max-width: 360px;
}

.book-img img:hover {
  filter: brightness(150%);
}

.rank-chip {
  background-color: #C45500;
  font-size: 0.8em;
  color: #fff;
  padding: 5px;
  position: relative;
  z-index: 3;
  width: 44px;
  display: inline-flex;
}

.rank-chip::after {
  position: absolute;
  clear: both;
  display: block;
  content: "";
  line-height: 0;
  font-size: 0;
  width: 0; 
  height: 0;
  right: -24%;
  top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 33px solid #C45500;
  z-index: -1;
}