body {
  background-color: #ddd;
}

.container {
  margin-top: 50px;
  height: 90vh;
}

.collapse-wrap {
  margin: 15px 0;
  box-shadow: 0 0 5px 1px #AAA;
}

.collapsble {
  height: 0;
  display: block;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.collapsble.open {
  height: 100px;
}

.collapse-wrap button svg {
  transition: all 300ms ease;
}

button.open svg {
  transform: rotate(180deg);
}